header {
  background-color: #fff;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 0.3));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

input::placeholder {
  color: #ec364330;
}

i.bi {
  font-size: 1.2rem;
  color: #ff0000;
}

input:focus {
  color: red;
  box-shadow: none;
}

.input-group .form-control {
  background-color: #ec364330;
  border: none;
  color: red;
}

.input-group .form-control::placeholder {
  color: red;
}

.input-group .input-group-text {
  background-color: #ec364330;
  border: none;
  color: #fff;
}

.avatar {
  min-width: 40px;
  min-height: 40px;
}
