<aside class="mb-">
  <nav>
    <img />

    <hr />

    <li>Dashboard</li>

    <div id="analysis">
      <h4>ANÁLISE</h4>

      <li>Performance</li>
      <li>Hotjar - Marketing</li>
      <li>Transações</li>
    </div>

    <hr />

    <div id="support">
      <h4>SUPORTE</h4>

      <li>Tickets</li>
      <li>Funcionários</li>
      <li>Clientes</li>
      <li>Motoboy</li>
    </div>

    <hr />

    <div id="general-orders">
      <h4>PEDIDOS GERAIS</h4>

      <li>Produtos</li>
      <li>Pedidos</li>
      <li>Relatórios</li>
    </div>

    <hr />

    <div id="admin">
      <li>Gerenciar</li>
      <li>Pedidos</li>
      <li>Relatórios</li>
    </div>
  </nav>

  <nav>
    <li>Configurações</li>
    <li>Sair</li>
  </nav>
</aside>
