
    <div class="card custom-card" style="max-width: 360px">
      <svg
        class="bd-placeholder-img card-img-top"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Image cap"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#dc6262"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
      </svg>
      <div class="card-body text-center">
        <h5 class="card-title">Alessandro</h5>
        <p class="card-text">emailequipe@ifood.com.br</p>
        <a href="#" class="btn btn-danger"
          ><i class="fas fa-envelope"></i> Entrar em contato</a
        >
      </div>
    </div>

  
