<div class="card-list">
    <div class="card-header">
      <h3>Pratos Populares</h3>
      <button class="view-all">Ver Todos</button>
    </div>
  
    <div class="card-item">
      <div class="card-image"></div>
      <div class="card-info">
        <p class="card-title">X–Tudo Bacon</p>
        <p class="card-subtitle">Hamburgueres</p>
      </div>
      <div class="card-price">
        <p>R$14.88</p>
        <div class="card-status">
          <span class="status-dot"></span>
          <span class="status-text">Success</span>
        </div>
      </div>
    </div>
  
    <div class="card-item">
      <div class="card-image"></div>
      <div class="card-info">
        <p class="card-title">Pizza Mussarela Pizzas</p>
      </div>
      <div class="card-price">
        <p>R$14.88</p>
        <div class="card-status">
          <span class="status-dot"></span>
          <span class="status-text">Success</span>
        </div>
      </div>
    </div>
  
    <div class="card-item">
      <div class="card-image"></div>
      <div class="card-info">
        <p class="card-title">Sov Nutela Sorvetes</p>
      </div>
      <div class="card-price">
        <p>R$14.88</p>
        <div class="card-status">
          <span class="status-dot"></span>
          <span class="status-text">Successo</span>
        </div>
      </div>
    </div>
  </div>
  